

.App-header {
  margin: auto;
  background-color: #547dd6;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: calc(8px + 2vmin);
  color: #ffffff;
}

.Content {
  min-width: 50vh;
  max-width: 150vh;
  align-items: center;
  align-self: center;
  align-content: center;
}